/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body,
footer {
  overflow-x: hidden;
  width: 100%;
  font-family: "Poppins", "Arial", sans-serif;
  scroll-behavior: smooth;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
}
/*---------------------------navbar styling---------------------------------*/
.navbar {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  z-index: 999;
  background-color: rgb(51, 51, 51);
  opacity: 0.5;
  font-family: "Ubuntu", "Arial", "sans-serif";
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background-color: #fca71f;
}
.navbar .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 400;
  text-decoration: none;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
  text-align: right;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-left: 25px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar .menu li a:hover {
  color: #fca71f;
}
.navbar.sticky li a:link,
.navbar.sticky li a:visited {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding: 5px 0;
}
.navbar.sticky li a:hover,
.navbar.sticky li a:active {
  border-bottom: 2px solid #fff;
}

/*-------------------------header-----------------------*/
header {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/hero.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
}

/*-------------------------contianer-----------------------*/
.slide-container {
  width: 800px;
  height: 600px;
}
.image-container {
  width: 2400px;
  height: 600px;
  position: relative;
  -webkit-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}
.slide-image {
  float: left;
  margin: 0px;
  padding: 0px;
}
.hero-text-box {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  font-family: "Poppins", "Arial", sans-serif;
}
.hero-text-box .max-width {
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero-text-box h2 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-weight: 400;
  font-size: 28px;
}
.hero-text-box p {
  color: #fff;
  font-weight: 300;
  padding: 20px 0;
}
.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  text-transform: uppercase;
  margin-top: 5px;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #fff;
  border: 2px solid #fff;
  color: #000;
  margin-right: 15px;
}

.btn-outline:link,
.btn-outline:visited {
  border: 2px solid #fff;
  color: #fff;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: rgb(224, 222, 222);
}

.btn-full:hover,
.btn-full:active,
input[type="submit"] {
  border: 2px solid rgb(224, 222, 222);
}

.btn-outline:hover,
.btn-outline:active {
  border: 2px solid rgb(224, 222, 222);
  color: #000;
}

/*-------------------------service-----------------------*/
.service .container .row {
  text-align: center;
}
.container .col {
  margin: 15px 0;
}
.container .col h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
  text-transform: uppercase;
}
.container .col p {
  font-weight: 300;
  color: rgb(139, 139, 139);
}
.container .col i {
  font-size: 35px;
  margin: 10px 0;
}
/*-------------------------counter-----------------------*/
.counters {
  color: #fff;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0.7))
    ),
    url(../img/counter-bg.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/counter-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/counter-bg.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 40px 20px;
  background-size: cover;
  background-position: top;
  /* height: 200px; */
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
}

.counters .container {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.counters .counter {
  font-size: 24px;
  margin: 10px 0px;
}
.counters h3 {
  font-weight: 500;
}
/*--------------------section-wrapper---------------------*/
.wrapper {
  width: 100%;
}
.wrapper nav {
  position: relative;
  height: 50px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrapper nav label {
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#all:checked ~ center nav label.all,
#branding:checked ~ center nav label.branding,
#design:checked ~ center nav label.design,
#photo:checked ~ center nav label.photo,
#coffee:checked ~ center nav label.coffee {
  color: #fca71f;
}
input[type="radio"] {
  display: none;
}
.wrapper nav .slider {
  position: absolute;
  height: 100%;
  width: 20%;
  background: transparent;
  z-index: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#branding:checked ~ nav .slider {
  left: 20%;
}
#design:checked ~ nav .slider {
  left: 40%;
}
#photo:checked ~ nav .slider {
  left: 60%;
}
#coffee:checked ~ nav .slider {
  left: 80%;
}
section .content {
  display: none;
}
#all:checked ~ section .content-1,
#branding:checked ~ section .content-2,
#design:checked ~ section .content-3,
#photo:checked ~ section .content-4,
#coffee:checked ~ section .content-5 {
  display: block;
}
/*--------------------section-minimal---------------------*/
section .title {
  position: relative;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  margin-top: 80px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
section span {
  color: #fca71f;
}

.minimal-showcase {
  list-style: none;
  width: 100%;
}
.minimal-showcase li {
  display: block;
  float: left;
  width: 25%;
}
ul {
  padding-left: 0;
}

.minimal-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.minimal-photo img {
  /* opacity: 0.7; */
  width: 100%;
  height: 230px;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

/*-------------------------footer----------------------------*/
footer {
  padding-top: 20px 23px;
  color: rgb(105, 104, 104);
  text-align: center;
}
footer a {
  font-weight: 700;
  color: #000;
  text-decoration: none;
}
footer a:hover {
  text-decoration: none;
}
